<header class="site-header">
  <ul>
    <li>
      <h1><%= link_to "MDN Browser Compatability Data Explorer", root_path %></h1>
    </li>
    <li class="<%= current_class?(browsers_index_path) %>"><%= link_to "Browsers", browsers_index_path %></li>
    <li class="<%= current_class?(features_index_path) %>"><%= link_to "Features", features_index_path %></li>
  </ul>
</header>
