<header class="site-header">
  <ul>
    <li>
      <%= link_to "MDN Browser Compatability Data Explorer", root_path %>
    </li>
    <li>
      <ul>
        <li class="<%= current_class?(browsers_path) %>"><%= link_to "Browsers", browsers_path %></li>
        <li class="<%= current_class?(features_path) %>"><%= link_to "Features", features_path %></li>
      </ul>
    </li>
  </ul>
</header>
