<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <h1>Welcome!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header">
          Statistics
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Features: <%= @feature_count %></li>
          <li class="list-group-item">Features with an MDN link: <%= @features_with_mdn_count %></li>
          <li class="list-group-item">Features with a description: <%= @features_with_description_count %></li>
          <li class="list-group-item">Features on a standards track: <%= @standard_features %></li>
          <li class="list-group-item">Features marked experimental: <%= @experimental_features %></li>
          <li class="list-group-item">Features marked deprecated: <%= @deprecated_features %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
