<div class="container">
  <div class="row py-4 w-100">
    <%= form_tag("/features", method: "get", class: "w-100") do %>
      <%= text_field_tag(:query, 
                         params['query'],
                         placeholder: "Search",
                         class: "form-control") %>

      <div class="py-2 w-100">
        <% @categories.each do |key, value| %>
          <div class="px-2 d-inline-block">
            <%= radio_button_tag(:category, key, params[:category].eql?(key.to_s)) %>
            <%= label_tag("category_#{key}".to_sym, value) %>
          </div>
        <% end %>
      </div>

      <%= submit_tag("Search", class: "btn btn-primary btn-lg btn-block") %>
    <% end %>
  </div>

  <div class="row">
    <% unless @feature_count.zero? %>
      <p>Features: <%= @feature_count %></p>
    <% end %>
    
    <%= render 'features_list',
        features: @features,
        browsers: @browsers %>
  </div>
</div>
