<nav class="nav nav-pills nav-fill flex-fill flex-column flex-md-row">
  <%= active_link_to "All", features_path, class: "nav-item nav-link" %>
  <%= active_link_to "API", features_api_path, class: "nav-item nav-link" %>
  <%= active_link_to "CSS", features_css_path, class: "nav-item nav-link" %>
  <%= active_link_to "HTML", features_html_path, class: "nav-item nav-link" %>
  <%= active_link_to "HTTP", features_http_path, class: "nav-item nav-link" %>
  <%= active_link_to "JavaScript", features_javascript_path, class: "nav-item nav-link" %>
  <%= active_link_to "SVG", features_svg_path, class: "nav-item nav-link" %>
  <%= active_link_to "WebDriver", features_webdriver_path, class: "nav-item nav-link" %>
  <%= active_link_to "WebExtensions", features_webextensions_path, class: "nav-item nav-link" %>
</nav>
