<% features.each do |feature| %>
  <div class="card card-no-overflow my-3 feature-card">
    <div class="card-body">
      <h5 class="card-title">
        <span class="mr-1"><%= feature.name %></span>
        <% if feature.standard_track? %>
          <abbr class="icon" title="Standard. Feature is on a standard track.">
            <%= octicon "verified", height: 16,  class: "inline right left", "aria-label": "Standard track" %>
          </abbr>
        <% end %>
        <% if !feature.standard_track? && !feature.standard_track.nil? %>
          <abbr class="icon" title="Non-standard. Expect poor cross-browser support.">
            <%= octicon "alert", height: 16,  class: "inline right left", "aria-label": "Non-standard" %>
          </abbr>
        <% end %>
        <% if feature.experimental? %>
          <abbr class="icon" title="Experimental. Expect behavior to change in the future.">
            <%= octicon "beaker", height: 16,  class: "inline right left", "aria-label": "Experimental" %>
          </abbr>
        <% end %>
        <% if feature.deprecated? %>
          <abbr class="icon" title="Deprecated. Not for use in new websites.">
            <%= octicon "trashcan", height: 16,  class: "inline right left", "aria-label": "Deprecated" %>
          </abbr>
        <% end %>
      </h5>
      <p class="card-text"><%= sanitize feature.description %></p>
      <% if feature.mdn_url %>
        <%= link_to "MDN", feature.mdn_url, class: "card-link" %>
      <% end %>
    </div>
    <div class="card-body p-0">
      <table class="table table-responsive-lg mb-0 features-table width-full">
        <thead>
          <tr>
            <th class="browser-column text-center">Chrome</th>
            <th class="browser-column text-center">Chrome Android</th>
            <th class="browser-column text-center">Edge</th>
            <th class="browser-column text-center">Edge Mobile</th>
            <th class="browser-column text-center">Firefox</th>
            <th class="browser-column text-center">Firefox Android</th>
            <th class="browser-column text-center">Internet Explorer</th>
            <% if include_node %>
              <th class="browser-column text-center">NodeJS</th>
            <% end %>
            <th class="browser-column text-center">Opera</th>
            <th class="browser-column text-center">Safari</th>
            <th class="browser-column text-center">Safari Mobile</th>
            <th class="browser-column text-center">Android Webview</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% browsers.each do |browser| %>
              <%= version_added_parser(feature.public_send(browser)) %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= paginate features %>
