<div class="wrapper">
  <h1>Features</h1>

  <p>Features tracked: <%= @feature_count %></p>

  <table class="features-table width-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>MDN Link</th>
        <th>Chrome</th>
        <th>Firefox</th>
        <th>Safari</th>
      </tr>
    </thead>
    <tbody>
      <% @features.each do |feature| %>
        <tr>
          <td><%= feature.name %></td>
          <td><%= feature.description %></td>
          <td><%= link_to feature.mdn_url, feature.mdn_url %></td>
          <td><%= feature.chrome %></td>
          <td><%= feature.firefox %></td>
          <td><%= feature.safari %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
