<div class="container search-page">
  <div class="row no-wrap-row">
    <div class="col-lg-3 col-12 search-sidebar">
      <div class="row p-2">
        <%= form_tag("/features", method: "get", class: "w-100") do %>
          <div class="search-filters-container">
            <div class="form-group">
              <%= text_field_tag(:query, 
                                params['query'],
                                placeholder: "Search",
                                class: "form-control") %>
            </div>


            <div class="form-group-title">
              Sort
            </div>
            <div class="form-group">
              <div class="form-check">
                <%= check_box_tag(
                  "random",
                  "true",
                  (true if params["random"].present? && params["random"] == "true"),
                  {id: :random, class: "form-check-input"}
                ) %>
                <%= label_tag(:random, "Random", class: "form-check-label") %>
              </div>
            </div>

            <div class="form-group-title">
              Categories
            </div>
            <div class="form-group">
              <% @categories.each do |key, value| %>
                <div class="form-check">
                  <%= check_box_tag(
                    "categories[]",
                    key,
                    (true if params["categories"].present? && params["categories"].include?(key.to_s)),
                    {id: key, class: "form-check-input"}
                  ) %>
                  <%= label_tag(key, value, class: "form-check-label") %>
                </div>
              <% end %>
            </div>

            <div class="form-group-title">
              Filters
            </div>
            <div class="form-group">
              <%= label_tag("mdn_url", "Includes an MDN URL?") %>
              <%= select_tag(
                "mdn_url",
                options_for_select(
                  [
                    ['Has an MDN URL', true],
                    ['Has no MDN URL', false]
                  ],
                  params["mdn_url"]
                ),
                { include_blank: true, class: "form-control form-control-sm" }
              ) %>
            </div>

            <div class="form-group">
              <%= label_tag("description", "Includes a description?") %>
              <%= select_tag(
                "description",
                options_for_select(
                  [
                    ['Has a description', true],
                    ['Has no description', false]
                  ],
                  params["description"]
                ),
                { include_blank: true, class: "form-control form-control-sm" }
              ) %>
            </div>

            <div class="form-group">
              <%= label_tag("deprecated", "Deprecated?") %>
              <%= select_tag(
                "deprecated",
                options_for_select(
                  [
                    ['Deprecated', true],
                    ['Not deprecated', false],
                    ['No deprecation info', "no_info"]
                  ],
                  params["deprecated"]
                ),
                { include_blank: true, class: "form-control form-control-sm" }
              ) %>
            </div>

            <div class="form-group">
              <%= label_tag("experimental", "Experimental?") %>
              <%= select_tag(
                "experimental",
                options_for_select(
                  [
                    ['Experimental', true],
                    ['Not experimental', false],
                    ['No experimental info', "no_info"]
                  ],
                  params["experimental"]
                ),
                { include_blank: true, class: "form-control form-control-sm" }
              ) %>
            </div>

            <div class="form-group">
              <%= label_tag("standard_track", "Standard track?") %>
              <%= select_tag(
                "standard_track",
                options_for_select(
                  [
                    ['On standard track', true],
                    ['Not on standard track', false],
                    ['No standard track info', "no_info"]
                  ],
                  params["standard_track"]
                ),
                { include_blank: true, class: "form-control form-control-sm" }
              ) %>
            </div>

            <% @browsers.each do |browser_key, browser_name| %>
              <div class="form-group">
                <%= label_tag(browser_key, "#{browser_name} status") %>
                <%= select_tag(
                  browser_key,
                  options_for_select(
                    [
                      ['True', true],
                      ['Exactly true', "exactly_true"],
                      ['False', false],
                      ['Unknown', "unknown"],
                      ['No info', "no_data"]
                    ],
                    params[browser_key]
                  ),
                  { include_blank: true, class: "form-control form-control-sm" }
                ) %>
              </div>
            <% end %>
          </div>

          <div class="search-button-container">
            <%= submit_tag("Search", class: "btn btn-primary btn-lg btn-block search-button") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-9 col-12 py-3">
      <h1>Features</h1>

      <% unless @feature_count.zero? %>
        <p>Features: <%= @feature_count %></p>
      <% end %>
      
      <%= render 'features_list',
          features: @features,
          browsers: @browsers %>
    </div>
  </div>
</div>
