<div class="wrapper">
  <h1>Features</h1>

  <p>Features tracked: <%= @feature_count %></p>

  <% @features.each do |feature| %>
    <p title="<%= feature.name %>"><%= feature.name %></p>
    <p><%= sanitize feature.description %></p>
    <% if feature.mdn_url %>
      <%= link_to "MDN", feature.mdn_url %>
    <% end %>
    <table class="features-table width-full">
      <thead>
        <tr>
          <th class="browser-column">Chrome</th>
          <th class="browser-column">Chrome Android</th>
          <th class="browser-column">Edge</th>
          <th class="browser-column">Edge Mobile</th>
          <th class="browser-column">Firefox</th>
          <th class="browser-column">Firefox Android</th>
          <th class="browser-column">Internet Explorer</th>
          <th class="browser-column">NodeJS</th>
          <th class="browser-column">Opera</th>
          <th class="browser-column">Safari</th>
          <th class="browser-column">Safari Mobile</th>
          <th class="browser-column">Android Webview</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @browsers.each do |browser| %>
            <td><%= version_added_parser(feature.public_send(browser)) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
