<!DOCTYPE html>
<html>
  <head>
    <title>MDN Compatability Data Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="data-json-location" data-json-location="<%= asset_path '/data.json' %>"></div>

    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
