<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MDN Compatability Data Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if Rails.env.development? %>
      <div id="data-json-location" data-json-location="<%= asset_path '/data.json' %>"></div>
    <% end %>

    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
